header {
	height: 100vh;
	padding: 10rem 0 70px;
	background-image: url('../../Assets/hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: var(--clr-white);
}
header::before {
	content: '';
	background-color: var(--clr-black);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}
.header__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.header__container h1 {
	font-size: 3rem;
}
.header__container h1 span {
	color: var(--clr-bright-yellow);
	font-size: 3rem;
}

.header__container p {
	font-size: 1rem;
	margin: 1rem;
	text-transform: capitalize;
	text-align: center;
}

.header__container button {
	padding: 1rem 1.5rem;
	background-color: var(--clr-bright-yellow);
	color: var(--clr-white);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	font-weight: 700;
}
.header__container button .icon {
	font-size: 1.5rem;
	margin-right: 0.9rem;
}
.header__container button:hover {
	border: 1px solid var(--clr-bright-yellow);
	background-color: transparent;
	color: var(--clr-white);
}

@media screen and (min-width: 1020px) {
	header {
		padding: 12rem 0 70px;
	}
	.header__container h1 {
		font-size: 4rem;
	}
	.header__container h1 span {
		font-size: 4.5rem;
	}
	.header__container p {
		font-size: 1.5rem;
	}
}
