nav {
	color: var(--clr-white);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 200;
	padding: 0 1rem;
	background-color: var(--clr-forest-green);
	opacity: 0.8;
}
.nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	width: 100%;
}
.nav__container .logo,
.mobile__link .logo {
	color: var(--clr-bright-yellow);
	font-size: 48px;
}
.nav__container .nav__link {
	display: none;
}

nav .mobile__link {
	position: fixed;
	width: 80%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--clr-forest-green);
	padding: 1.5rem 0.9rem 0 0.9rem;
	display: none;
}
nav .mobile__link.show {
	display: block;
}
nav .mobile__link .mobile__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .mobile__link ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding-top: 2rem;
}
nav .mobile__link ul li {
	border-bottom: 1px solid var(--clr-bright-yellow);
	width: 100%;
	text-align: center;
	padding-bottom: 1.3rem;
}
nav .mobile__link ul li:hover {
	border-bottom: 1px solid var(--clr-ash-grey);
}

.nav__icon {
	display: block;
	font-size: 1.5rem;
}

@media screen and (min-width: 1020px) {
	nav {
		padding: 0;
	}
	.nav__icon {
		display: none;
	}
	.nav__container .nav__link {
		display: block;
	}
	.nav__container .nav__link ul {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		color: var(--clr-white);
	}
	.nav__container .nav__link ul li {
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 0.3rem;
		transition: 1s;
	}
	.nav__container .nav__link ul li:hover {
		border-bottom: 2px solid var(--clr-bright-yellow);
	}
	nav .mobile__link {
		display: none;
	}
	nav .mobile__link.show {
		display: none;
	}
}
